[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "denoiSeq"]
	path = denoiSeq
	url = https://github.com/buriom/denoiseq
	shallow = true
	registered = true
